body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #021024;
    color: white;
  }
  
.navbar {
  background-color: #021024;
  font-size: 16px;
}

.nav-link {
  color: white !important;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  color: white;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 1.75rem;
}

.highlight {
  color: #00e0ff;
}

p {
  font-size: 1.1rem;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icon {
  margin-right: 15px;
  color: white;
  font-size: 1.75rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #00e0ff;
}

.image-container {
  position: relative;
}

.image-circle {
  width: 500px;
  height: 500px;
  background-color: #00e0ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 30px rgba(0, 224, 255, 0.5);
  margin: 0 auto;
  position: relative;
}

.profile-img {
  width: 460px;
  height: 460px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .image-circle {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }

  .profile-img {
    width: 280px;
    height: 280px;
  }
}

.about-me {
  background-color: #021024;
  color: white;
  padding: 100px 0;
}

.about-me h2 {
  font-size: 3rem;
  color: white;
}

.about-me h3 {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.about-me p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.highlight {
  color: #00e0ff;
}

.about-image-container {
  position: relative;
}

.about-image-circle {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: 8px solid #00e0ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profile-img-a {
  width: 265px;
  height: 265px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-me {
    text-align: center;
  }

  .about-image-circle {
    margin-bottom: 30px;
  }
}

.my-services {
  background-color: #021024;
  color: white;
}

.my-services h2 {
  font-size: 3rem;
  color: white;
}

.highlight {
  color: #00e0ff;
}

.service-card {
  background-color: rgba(0, 224, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  /* box-shadow: 0 5px 25px rgba(0, 224, 255, 0.7); */
}

.service-card:hover {
  border-color: #00e0ff;
}

.service-icon {
  font-size: 3rem;
  color: #00e0ff;
  margin-bottom: 20px;
}

.service-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.service-description {
  font-size: 1rem;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: rgba(0, 224, 255, 0.1);
  border-color: transparent;
  color: #fff;
}

.btn-primary:hover {
  background-color: rgba(0, 224, 255, 0.1);
  border-color: transparent;
  color: #fff;
  box-shadow: 0 0px 10px rgba(0, 224, 255, 0.7);
}

.card-img-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: transparent;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
  background-color: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_service-card {
  background-color: rgba(0, 224, 255, 0.1);
  border: 2px solid transparent;
  border-radius: 15px;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}

.project_service-card:hover {
  border-color: #00e0ff;
  border-width: 2px;
}

.project_service-card h3,
.project_service-card p {
  margin: 0;
  padding: 10px 0;
}

.project_service-title {
  flex-grow: 0;
}

.project_service-description {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;  /* Vertically centers the text */
  padding: 0 10px;
}
